In [1]:
class person:
  name = "qurat"
  occupation = "developer"
  networth = 10

a = person()
print(a.name)

qurat

In [3]:
class person:
  name = "qurat"
  occupation = "developer"
  networth = 10

a = person()
a.name = "aisha"
a.occupation = "student"
print(a.name, a.occupation)

aisha student

In [4]:
class person:
  name = "qurat"
  occupation = "developer"
  networth = 10
  def info(self):
    print(f"{self.name} is a {self.occupation}")
a = person()
a.info()

qurat is a developer

In [5]:
class person:
  name = "qurat"
  occupation = "developer"
  networth = 10
  def info(self):
    print(f"{self.name} is a {self.occupation}")
a = person()
a.name = "aisha"
a.occupation = "student"
a.info()

aisha is a student

In [8]:
 class person:
  name = "qurat"
  occupation = "developer"
  networth = 10
  def info(self):
    print(f"{self.name} is a {self.occupation}")
a = person()
b = person()
c = person()
a.name = "aisha"
a.occupation = "student"

b.name = "insha"
b.occupation = "accountant"
a.info()
b.info()
c.info()

aisha is a student
insha is a accountant
qurat is a developer