In [7]:
'''different datatypes
integer
float
complex
'''
a = 5
print("type of a = ",type(a))
b = 6.6
print("type of b = ",type(b))
c = 2+4j
print("type of c = ",type(c))

type of a =  <class 'int'>
type of b =  <class 'float'>
type of c =  <class 'complex'>

In [12]:
#string
str1 = 'HelloWorld'
print('string with single quotes')
print(str1)
print(type(str1))

string with single quotes
HelloWorld
<class 'str'>

In [25]:
#list
classlist = []

print("initial blank list")
print(classlist)
list2 = [10,20,30,40,50]
print(list2)
list3 = ['welcome','here']
print(list3)
list4 = ["print with double quotes"]
print(list4)
list5 = ['hello'+'world']
print(list5)
list6 = ['hello'+' '+'world']
print(list6)
list7 =  ["1,2,3,4,5,6,7"]
print(list7)

initial blank list
[]
[10, 20, 30, 40, 50]
['welcome', 'here']
['print with double quotes']
['helloworld']
['hello world']
['1,2,3,4,5,6,7']

In [41]:
#tuple
tuple1 = []
print(tuple1)
tuple2 = ["2","3","abc"]
print(tuple2)
coordinates = (3,7)
print("x-coordinate:",coordinates[0])
print("y-coordinate:",coordinates[1])

[]
['2', '3', 'abc']
x-coordinate: 3
y-coordinate: 7

In [33]:
#boolean
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [37]:
#dictionary
dict = {}
print(dict)
dict2 ={1 : "welcome",2 : "world"}
print(dict2)

{}
{1: 'welcome', 2: 'world'}