In [3]:
# while loop
x = 0
while (x < 5):
    x = x + 1
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [4]:
# while loop with else statment
a = 0
while (a < 3):
    a = a + 1
    print("Hello World")
else:
    print("In Else Block")

Hello World
Hello World
Hello World
In Else Block

In [8]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [11]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [10]:
# Prints out only even numbers - 0,2,4,6,8
for x in range(10):
    # Check if x is even
    if x % 2 == 1:
        continue
    print(x)

0
2
4
6
8

In [13]:
# Python program to demonstrate ternary operator
a, b = 10, 20

print( (b, a) [a < b] )

10