In [9]:
string1 = "Apple"
string2 = "Banana"

result = string1 +" "+ string2
print(result)

Apple Banana

In [11]:
string1 = "Apple"
string2 = "Banana"
string3 = "Cherry"
string4 = "Mango"

result = string1 +" "+ string2 +" "+ string3 +" "+ string4
print(result)

Apple Banana Cherry Mango

In [18]:
#sort list in ascending order
my_list = ['cherry', 'mango', 'apple', 'orange', 'banana']
my_list.sort()
print(my_list)

['apple', 'banana', 'cherry', 'mango', 'orange']

In [19]:
# copy and sort
my_list = ['cherry', 'mango', 'apple', 'orange', 'banana']
my_list.copy()
sorted_list=my_list.copy()
sorted_list.sort()
print(my_list)
print(sorted_list)

['cherry', 'mango', 'apple', 'orange', 'banana']
['apple', 'banana', 'cherry', 'mango', 'orange']

In [20]:
# sort in descending order
my_list = ['cherry', 'mango', 'apple', 'orange', 'banana']
my_list.sort(reverse=True)
print(my_list)

['orange', 'mango', 'cherry', 'banana', 'apple']

In [21]:
#convert str to lower case
mystring = 'Hello World'
print('Original String :',mystring)

lowerstring = mystring.lower()
print('Lowercase String :',lowerstring)

Original String : Hello World
Lowercase String : hello world

In [22]:
# trim white spaces from edges
mystring = '   Hello world        '

cleanstring = mystring.strip()

# Before strip
print(mystring)
print(len(mystring))

# After string
print(cleanstring)
print(len(cleanstring))

   Hello world
22
Hello world
11

In [27]:
# convert string to integer
# Take a string
a = '125'
print('Input', a, type(a))

# Convert string to int
output = int(a)
print('Output', output, type(output))

Input 125 <class 'str'>
Output 125 <class 'int'>

In [28]:
# Convert binary str to integer
# Take a binary string
a = '10111010'
print('Input', a, type(a))

# Convert binary string to int
output = int(a, base=2)
print('Output', output, type(output))

Input 10111010 <class 'str'>
Output 186 <class 'int'>

In [29]:
# Convert Hex str to int
# Take a hex string
a = 'AB96210F'
print('Input', a, type(a))

# Convert hex string to int
output = int(a, base=16)
print('Output', output, type(output))

Input AB96210F <class 'str'>
Output 2878742799 <class 'int'>