In [2]:
a=3
b=2
if a==5 and b>0:
  print('a is 5 and',b,'is greater than zero.')
else:
  print('a is not 5 or',b,'is not greater than zero.')

a is not 5 or 2 is not greater than zero.

In [4]:
#tuple
x = tuple()
if not x:
  print("tuple is empty")
else:
  print(x)

tuple is empty

In [5]:
#ternary operator
a,b=2,5
#get maximum of a,b
max = a if a>b else b
print('Maximum :', max)

Maximum : 5

In [7]:
a,b=5,2
print('Python') if a > b else print('Examples')

Python

In [8]:
a, b, c = 15, 93, 22

# Nested ternary operator
max = a if a > b and a>c else b if b>c else c

print(max)

93