In [1]:
name = 'Qurat'
for i in name:
    print(i, end=", ")

Q, u, r, a, t,

In [2]:
colors = ("Red", "Green", "Blue", "Yellow")
for x in colors:
    print(x)

Red
Green
Blue
Yellow

In [3]:
for k in range(5):
    print(k)

0
1
2
3
4

In [4]:
for k in range(4,9):
    print(k)

4
5
6
7
8

In [5]:
count = 5
while (count > 0):
    print(count)
    count = count - 1

5
4
3
2
1

In [6]:
x = 5
while (x > 0):
    print(x)
    x = x - 1
else:
    print('counter is 0')

5
4
3
2
1
counter is 0

In [16]:
for i in range(1,10):
    if(i%2 == 0):
        continue
    print(i)

1
3
5
7
9

In [17]:
i = 1
while (i <= 10):
    i = i + 1
    if (i%2 != 0):
        continue
    print(i)

2
4
6
8
10

In [15]:
for i in range(1, 4):
    k = 1
    while (k<=3):
        print(i, "*", k, "=", (i*k))
        k = k + 1
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [18]:
i = 1
while (i <= 10):
    i = i + 1
    if (i == 5):
        break
    print(i)

2
3
4

In [19]:
for i in range(1, 10):
    print(i)
    if (i == 5):
        break

1
2
3
4
5