In [2]:
def name(fname, lna:
    print("Hello,", fname, lname)

name("Qurat", "Shakeel")

Hello, Qurat Shakeel

In [5]:
def name(fname, mname = "Qurat", lname = "Shakeel"):
    print("Hello,", fname, mname, lname)

name("I am")

Hello, I am Qurat Shakeel

In [7]:
def name(one, two, three):
    print("Hello,", one, two, three)

name(two = "Insha", three = "Aisha", one = "Qurat")

Hello, Qurat Insha Aisha

In [10]:
def name(one, two, three):
    print("Hello,", one, two, three)

name("Qurat", "Insha", "Aisha")

Hello, Qurat Insha Aisha

In [11]:
def name(*name):
    print("Hello,", name[0], name[1], name[2])

name("Qurat", "Insha", "Aisha")

Hello, Qurat Insha Aisha

In [13]:
def name(**name):
    print("Hello,", name["one"], name["two"], name["three"])

name(two = "Insha", three = "Aisha", one = "Qurat")

Hello, Qurat Insha Aisha

In [16]:
def name(fname, mname, lname):
    return "Hello, " + fname + " " + mname + " " + lname

print(name("Qurat", "Insha", "Aisha"))

Hello, Qurat Insha Aisha

In [18]:
def factorial(num):
    if (num == 1 or num == 0):
        return 1
    else:
        return (num * factorial(num - 1))

# Driver Code
num = 10;
print("number: ",num)
print("Factorial: ",factorial(num))

number:  10
Factorial:  3628800