In [1]:

# abs function
#  integer number
integer = -56
print('Absolute value of -56 is:', abs(integer))

#  floating number
floating = -40.83
print('Absolute value of -40.83 is:', abs(floating))

Absolute value of -40 is: 20
Absolute value of -40.83 is: 20.83

In [2]:
# all values true
k = [1, 3, 4, 6]
print(all(k))

# all values false
k = [0, False]
print(all(k))

# one false value
k = [1, 3, 7, 0]
print(all(k))

# one true value
k = [0, False, 5]
print(all(k))

# empty iterable
k = []
print(all(k))

True
False
False
False
True

In [3]:
# bin function
x =  10
y =  bin(x)
print (y)

0b1010

In [4]:
# python bool
test1 = []
print(test1,'is',bool(test1))
test1 = [0]
print(test1,'is',bool(test1))
test1 = 0.0
print(test1,'is',bool(test1))
test1 = None
print(test1,'is',bool(test1))
test1 = True
print(test1,'is',bool(test1))
test1 = 'Easy string'
print(test1,'is',bool(test1))

[] is False
[0] is True
0.0 is False
None is False
True is True
Easy string is True

In [5]:
# python bytes
string = "Hello World."
array = bytes(string, 'utf-8')
print(array)

b'Hello World.'

In [6]:
# pyhon callable
x = 8
print(callable(x))

False

In [8]:
# exec funstion
x = 8
exec('print(x==8)')
exec('print(x+4)')

True
12

In [9]:
s = sum([1, 2,4 ])
print(s)

s = sum([1, 2, 4], 10)
print(s)

7
17

In [10]:
# any function
l = [4, 3, 2, 0]
print(any(l))

l = [0, False]
print(any(l))

l = [0, False, 5]
print(any(l))

l = []
print(any(l))

True
False
True
False

In [11]:
# ascii function
normalText = 'Python is interesting'
print(ascii(normalText))

otherText = 'Pythön is interesting'
print(ascii(otherText))

print('Pyth\xf6n is interesting')

'Python is interesting'
'Pyth\xf6n is interesting'
Pythön is interesting