In [3]:
# tuple value cant be changed, length cant be changed
# tuples, strings and lists are immutable
tup = (1,2,3,4,5)
print(type(tup),tup)

<class 'tuple'> (1, 2, 3, 4, 5)

In [4]:
tup = (15)
print(type(tup),tup)

<class 'int'> 15

In [5]:
tup = (1,)
print(type(tup),tup)

<class 'tuple'> (1,)

In [14]:
tup = (1,2,"red",True)
print(type(tup),tup)
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])
#print(tup[40]) --- will show  error as there is no such value
print(tup[2])
print(len(tup))
print(tup[-1])
print(tup[-2])
print(tup[-3])
print(tup[-4])

<class 'tuple'> (1, 2, 'red', True)
1
2
red
True
red
4
True
red
2
1

In [15]:
if 2 in tup:
  print("yes 2 is present in this tuple")

yes 2 is present in this tuple

In [16]:
if 22 in tup:
  print("yes 2 is present in this tuple")

In [17]:
 tup2 = tup[0:2]    # prints index 0 to index1, excluding the index 2
 print(tup2)

(1, 2)

In [18]:
tup3 = tup[:3]    # means index 0 to index 3
print(tup3)

(1, 2, 'red')

In [19]:
tup3 = tup[2:]    # means index 2 to length of tup
print(tup3)

('red', True)

In [23]:
#tuple methods
countries = ('spain','Italy', 'Russia','India','Germany','Canada')
temp = list(countries)
temp.append('England')
temp.pop(3)
temp[2] = 'Finland'    # at index 2
countries = tuple(temp)
print(countries)

('spain', 'Italy', 'Finland', 'Germany', 'Canada', 'England')

In [24]:
country = ("Spain", "Italy", "India", "England", "Germany")
#            [0]      [1]      [2]       [3]        [4]
print(country[-1])
print(country[-3])
print(country[-4])

Germany
India
Italy

In [25]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Germany" in country:
    print("Germany is present.")
else:
    print("Germany is absent.")

Germany is present.

In [26]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Russia" in country:
    print("Russia is present.")
else:
    print("Russia is absent.")

Russia is absent.

In [28]:
animals = ("cat", "dog", "bat", "mouse", "horse", "donkey", "goat", "cow")
print(animals[3:6])     #using positive indexes
print(animals[-6:-2])   #using negative indexes

('mouse', 'horse', 'donkey')
('bat', 'mouse', 'horse', 'donkey')

In [29]:
animals = ("cat", "dog", "bat", "mouse", "horse", "donkey", "goat", "cow")
print(animals[:6])      #using positive indexes
print(animals[:-3])

('cat', 'dog', 'bat', 'mouse', 'horse', 'donkey')
('cat', 'dog', 'bat', 'mouse', 'horse')

In [30]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[::2])     #using positive indexes
print(animals[-8:-1:2]) #using negative indexes

('cat', 'bat', 'pig', 'donkey', 'cow')
('dog', 'mouse', 'horse', 'goat')

In [31]:
countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')