In [2]:
# magic methods or dunder methods -- starts with double underscore (__)
class  employee:
  name = "Qurat"

e = employee()
print(e.name)

Qurat

In [7]:
class  employee:
  name = "Qurat"
  def __len__(self):
    i = 0
    for c in self.name:
      i = i + 1
    return i

e = employee()
print(e.name)
print(len(e))

Qurat
5

In [10]:
class  employee:
  def __init__(self,name):
    self.name = name

  def __len__(self):
    i = 0
    for c in self.name:
      i = i + 1
    return i

e = employee("Qurat")
print(e.name)
print(len(e))

Qurat
5