In [ ]:
##python indentation
print("abc")

abc

In [1]:
print("xyz")
print("abc")

xyz
abc

In [ ]:
##conditions in python
num = 10
if num > 5 :
  print(" if stmt executed")
  print(" second cmd inside if stmt")
  print(num*10)

 if stmt executed
 second cmd inside if stmt
100

In [ ]:
## comparison operation
a = 12
#### equal to comparison happens using "=="
if a == 10:
 print("A is equal to 10")

In [ ]:
if a!=12:
 print(" A is not equal to 10")

In [ ]:
## assignment operaators
x = 12
print(x)

12

In [ ]:
x += 1
print("x")

x

In [ ]:
x-= 1
print ("x")

x

In [ ]:
 x -= 1
print("x")

x

In [ ]:
num3 = 19
num4 = 7
print(num3%num4)

5

In [ ]:
nu

In [ ]:
x = 2
y = 3
z=4
print(x*y)
print(x**y)
print(y**x)
print(x*y*z)
print(x**y)

6
8
9
24
8

In [ ]:
q

In [ ]:
q = 1 + 2 * 3
print(q)

7

In [ ]:
num10 = 15
if num10 > 16:
 print("it is greater than 16")
else:
 print("less than 16")

less than 16

In [ ]:
if num10 > 16:
   print(" greater than 16")
elif num10> 10:
   print("greater than 10 but less than 16")
else:
  print("less than or equal to 16")

greater than 10 but less than 16

In [ ]:
num1 = 1
num2 = 2
print(num1-num2)

-1

In [ ]:
if 10>5 :
  print("this condition is true")
  print("second line")

this condition is true
second line