In [4]:
'''multi line comments
line2
line3
'''
print("cat")

cat

In [10]:
cat = "a"
Cat = "z"
print(cat)
print(Cat)

a
z

In [25]:
'''datatypes
integer type: -10....10
float type: 10.3,2.7, -3.8
string type: "cat", "dog"...
boolean type: true,false
'''
x = 1
a= 2.3
y = 'qalb'
z = False
print(type(x))
print(type(a))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [26]:
'''typecasting: way of converting one datatype to other datatype
'''
x = 6.8
print(type(x))

<class 'float'>

In [27]:
 x = int(x)
 print(type(x))

<class 'int'>